{#
/**
 * @file
 * Theme override to present all user data.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if user_is_mentor %}
    <span>mentor love!</span>
  {% endif %}
  <h3 class="username"><a href="{{ user.url }}" rel="bookmark">{{ user.username }}{{ extra }}</a></h3>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
